PORT=3000

MONGO_URI=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1
POSTGRES_DB=tts_learning   

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRESIN=1d
JWT_REFRESH_EXPIRESIN=7d

MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_SECURE=false
MAILER_FROM="No Reply <no-reply@example.com>"
MAILER_USER=
MAILER_PASS=
